<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment- Checkout</title>
    <meta name="title" content="Sunkraft- Get Quality Furniturw">
    <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../assets/css/payment.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">

</head>
<body class="main">

    <div class="container">

        <form action="">

            <div class="row">

                <div class="col">

                    <h3 class="title">Billing Adress</h3>
                    <div class="inputBox">
                        <span>Full Name :</span>
                        <input type="text" placeholder="john doe" required>
                    </div>

                    <div class="inputBox">
                        <span>Email :</span>
                        <input type="text" placeholder="example@example.com" required>
                    </div>

                    <div class="inputBox">
                        <span>Adress :</span>
                        <input type="text" placeholder="room-street-locality" required>
                    </div>

                    <div class="inputBox">
                        <span>City :</span>
                        <input type="text" placeholder="Nairobi">
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span>State :</span>
                            <input type="text" placeholder="Kenya">
                        </div>
                        <div class="inputBox">
                            <span>Zip Code :</span>
                            <input type="text" placeholder="john doe">
                        </div>
                    </div>
                </div>

                <div class="col">

                    <h3 class="title">Payment</h3>

                    <div class="inputBox">
                        <span>Cards Aceepted</span>
                        <img src="#" alt="">
                    </div>

                    <div class="inputBox">
                        <span>Name on Card :</span>
                        <input type="text" placeholder="john doe" required>
                    </div>

                    <div class="inputBox">
                        <span>Credit Card Number :</span>
                        <input type="text" placeholder="1111-2222-3333-4444" required>
                    </div>

                    <div class="inputBox">
                        <span>Exp. Year:</span>
                        <input type="text" placeholder="mm-yy">
                    </div>

                    <div class="flex">
                        <div class="inputBox">
                            <span>CVV :</span>
                            <input type="text" placeholder="1234">
                        </div>
            
                    </div>
                </div>
            </div>

            <input type="submit" value="Proceed to Checkout" class="submit-btn">
        </form>
    </div>
    
</body>
</html>